# API配置文件（包含敏感信息）
src/config/api.ts

# 依赖
node_modules/

# Expo
.expo/
.expo-shared/
dist/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# 日志
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo